
*{
    padding: 0;
    margin: 0;
}

body{
    background: #CDCDCD;
}

.container{
    width: 600px;
    margin: 0 auto;
}

.clearfix:after{
    content: '';
    clear: both;
    display: block;
}


header{
    width: 100%;
    background: rgba(47,47,47,0.98);
}

#form h2{
    float: left;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: white;
}
#form input{
    float: right;
    width: 60%;
    height: 24px;
    margin-top: 6px;
    border-radius: 10px;
}

ul,ol{
    list-style: none;
}

li input {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

li p input{
    top: 3px;
    left: 40px;
    width: 70%;
    height: 20px;
    line-height: 14px;
    text-indent: 5px;
    font-size: 14px;
}

li {
    height: 32px;
    line-height: 32px;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    padding: 0 45px;
    border-radius: 3px;
    border-left: 5px solid #629A9C;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

ol li {
    cursor: move;
}

ul li {
    border-left: 5px solid #999;
    opacity: 0.5;
}

li a {
    position: absolute;
    top: 4px;
    right: 5px;
    display: inline-block;
    width: 14px;
    height: 12px;
    border-radius: 14px;
    border: 6px double #FFF;
    background: #CCC;
    line-height: 14px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

section div{
    margin: 20px 0;
}

section h2{
    float: left;
    height: 40px;
    line-height: 40px;
}

section span{
    position: relative;
    float: right;
    top: 10px;
    right: 5px;
    padding: 0 5px;
    height: 20px;
    border-radius: 20px;
    background: #E6E6FA;
    line-height: 20px;
    text-align: center;
    color: #666;
    font-size: 14px
}

footer span{
    color: #666;
    font-size: 14px;
    float: left;
}

footer button{
    float: right;
    position: relative;
    padding: .3em .5em;
    background-image: linear-gradient(#ddd, #bbb);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
    text-align: center;
    text-shadow: 0 1px 1px black;
    color:red;
    font-weight: bold;
}